body {
  margin: 0 auto;
  box-sizing: border-box;
  display:flex;
  background-color: rgb(44, 102, 52);
  font-family: 'Nanum Brush Script', cursive;
  justify-content: center;
}

#root{
  width:100%;
}
.conteneur{
  display:flex;
  flex-direction: column;
  margin:0 auto;
  color: orange;
  text-align: center;
  justify-content: center;
  width:80%;
  
}

input{
  height:30px;
  width:25%;
}

/*generateur*/
.citation-box{
  text-align:center;  
  font-size: 1.5rem;
  margin:3vw auto;
  border-radius: 10px;
  
}
.citation-box img{
  background-color: transparent;
  border-radius: 10px;
  max-height: 50%;
  max-width:95%;
}
.cit{
padding:0 3vw;
margin-bottom: 0;
font-size: 3rem;
color: rgb(9, 71, 18);
background-color: antiquewhite;
border-radius: 10px;
}

.aut{
  padding:0 3vW;
  margin-top:0;
  font-size: 2.4rem;
  font-weight:bolder;
  
}

.hamza{
  font-size:2.5rem;
  margin: auto;
}

.hamza img{
  width:60%;
}
.hamza h1{
  margin: auto;
  font-size:3rem;
  padding:0;
  align-self:center;
  width:80%;
}

.Pain-au-chocolat{
  padding: 0;
  margin: 0 auto;
  max-width:95%;
}
.renouveler{
  background-color: orange;
  border-radius: 50%;
  border:none;
  box-shadow: 2px;
  margin:0 auto;
  height: 50px;
  width:50px;
  color:rgb(9, 71, 18);
  font-weight: bolder;
  cursor: pointer;
}
.renouveler svg{
  height:35px;
  width: 35px;
  cursor: pointer;
}

/* Page Dico */

.dico{
  width:80%;
  margin:0 auto;
  text-align: center;
  justify-content: center;
  color: orange;
  font-size: 2rem;

}
.citation{
  list-style: none;
background-color: antiquewhite;
padding:3px;
}

.citation input{
  margin:0 5px;
}

.form-container input{
  margin:0 5px;
}

ul{
  padding:0;
}
hr {
  color:transparent;
  /* width:50%; */
  border-bottom: orange dotted 4px;
  margin:3vw 5vw;
}

.citation-txt{
  background-color: antiquewhite;
  color:rgb(9, 71, 18);
  padding:2vw;
  margin-bottom: 1vw;
}

.citation-auteur{
  align-self:end;
  margin-bottom: 1vw;
  margin-top:1;

}

.citation-btn{
  margin:2vw;
  display: flex;
  justify-content: space-between;
}

.btn-modif, .btn-suppr{
  display: flex;
  align-content: center;
padding:2px 2px 0px 2px;
background-color: transparent;
border:0;
box-shadow: 2px;
cursor: pointer;
font-size: 2.6rem;
border-radius: 50px;
}

.btn-valid{
  height:35px;
  width: 35px;
  border-radius: 3px;
  font-weight: bolder;
  cursor: pointer;
}

/* page à propos  et nomatch*/
.apropos, .nomatch{
  text-align: center;
  width: 80%;
  font-size:3rem;
  margin: 60px auto;
}



/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: orange;
  color:rgb(9, 71, 18);
  border-radius: 10px;
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 0;
  overflow: hidden;
  max-width: 40vw;
  margin: 0 auto;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
  font-size:5vw;
  padding: 2vw;
}

a {
  display: block;
  margin-left:0.8vw;
  padding: 10px 40px;
  text-decoration: none;
  font-weight:bold;
  color:rgb(9, 71, 18);
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 5rem;
}